{% extends "NtsSupinfoBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block body %}
Bienvenu sur la connexion de NTS
<form method="post" {{ form_enctype(form) }}>

    <fieldset>
        <table>
            {{ form_errors(form) }}

            <legend> Vos information de connexion </legend>

            <tr>
                <td>{{ form_label(form.Email, "Email") }}</td>
                <td>{{ form_widget(form.Email) }}</td>
                <td>{{ form_errors(form.Email) }}</td>
            </tr>

            <tr>
                <td>{{ form_label(form.Password, "Password") }}</td>
                <td>{{ form_widget(form.Password) }}</td>
                <td>{{ form_errors(form.Password) }}</td>
            </tr>

        </table>
    </fieldset>
    {{ form_rest(form) }}

    <input type="submit" />
</form>
{% endblock %}